# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
ENV/
env/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# ffmpeg binaries (too large for GitHub)
ffmpeg/
ffmpeg/bin/

# Environment & API keys
.env

# Node / frontend stuff (if any later)
node_modules/
